<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ssmdemo.mapper.LogMapper">
    <resultMap id="LogResultMapper" type="com.example.ssmdemo.domain.Log">
        <id column="log_id" property="logId"/>
        <result column="login_count" property="loginCount"/>
        <result column="last_login_time" property="lastLoginTime" javaType="java.time.LocalDateTime"
                jdbcType="TIMESTAMP"/>
        <association property="user" column="u_id" javaType="com.example.ssmdemo.domain.User">
            <id column="u_id" property="uId" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <result column="email" property="email" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <result column="password" property="password"/>
            <result column="login_count" property="loginCount" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <result column="last_login_time" property="lastLoginTime" javaType="java.time.LocalDateTime"
                    jdbcType="TIMESTAMP"/>
        </association>
    </resultMap>

    <select id="selectAllLogs" resultType="com.example.ssmdemo.domain.Log" resultMap="LogResultMapper">
        select * from logs l left join users u on l.u_id = u.u_id where l.u_id = #{logId};
    </select>

    <insert id="insert" parameterType="com.example.ssmdemo.domain.Log">
        insert into logs(log_id, u_id, login_count, last_login_time)
        values (#{logId}, #{user.uId}, #{loginCount}, #{lastLoginTime});
    </insert>

</mapper>